<!DOCTYPE html>
<html>
  <head>
    <title>Final</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Special+Gothic+Expanded+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body style="background-color: black">
    <div class="div">
      <h1>gracias por participar</h1>
    </div>
    <br />
    <p>"¿Cuanto pesas en otros planetas?" de xander</p>
  </body>
</html>
