<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jupiter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Special+Gothic+Expanded+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/jupiter/style.css') }}"
    />
  </head>
  <body class="contenido">
    <div class="fondo-blur"></div>
    <div class="container">
      <img
        src="{{ url_for('static', filename='/img/jupiter/planeta.jpg') }}"
        alt="jupiter"
      />
      <h1>En jupiter tu pesarias...</h1>
      <p>{{ pesos['jupiter'] }}kg</p>
    </div>
    <form action="/templates/saturno.html" method="post">
      <input type="hidden" name="pesos" value="{{ pesos }}" />
      <button type="submit">></button>
    </form>
  </body>
</html>
